html{
  margin: 0;
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  background-image: url('../css/woven-bamboo.jpg');
}
.ninjacat{
  height: 50px;
  width: 29px;
  position: absolute;
  top: 10px;
  left: 0px;
}
.page-container{
  display: flex;
  justify-content: center;
}
.page-container{
  display: flex;
  justify-items: center;
  flex-direction: column;
  // align-content: center;
}
